<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
   
    <title>Update Profile</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h3 class="text-center mb-3">Update your profile:</h3>
    <form method="POST" action="/buddy/<%= user._id  %>?_method=PUT">
      <div class="mb-3 text-center">
        <label for="username"></label>
        <input
          type="username"
          name="username"
          placeholder="Username"
          value="<%= user.username  %>"
        />
      </div>
      <div class="mb-3 text-center">
        <label for="password"></label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          value="<%= user.password %>"
        />
      </div>
      <div class="mb-3 text-center">
        <label for="firstName"></label>
        <input
          type="name"
          name="firstName"
          placeholder="First Name"
          value="<%= user.firstName %>"
        />
      </div>

      <div class="mb-3 text-center">
        <label for="lastName"></label>
        <input
          type="name"
          name="lastName"
          placeholder="Last Name"
          value="<%= user.lastName  %>"
        />
      </div>
      <div class="mb-3 text-center">
        <label for="email"></label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          value="<%= user.email %>"
        />
      </div>
      <div class="mb-3 text-center position-relative">
        <label for="phoneNumber"></label>
        <input
          type="phoneNumber"
          name="phoneNumber"
          placeholder="Phone Number"
          value="<%= user.phoneNumber %>"
        />
      </div>

      <input type="submit" class="text-center btn btn-secondary position-absolute bottom-0 start-50 translate-middle" value="Update Profile">
      
    </form>

    

  </body>
</html>
