<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title><%= user.firstName %></title>
  </head>
  <%- include('../partials/header') %>
  <body>
    <h1 class="text-center"><%= user.firstName %> <%= user.lastName %></h1>
  
      
      <h6 class="text-center">Username: <%= user.username %></h6>
      <h6 class="text-center">Email: <%= user.email %></h6>
      <h6 class="text-center mb-4">Phone Number: <%= user.phoneNumber %></h6>
      
 

    <a href="/buddy/<%= user._id %>/edit" class="btn btn-sm btn-primary d-flex justify-content-center mb-3">Edit Profile</a>
 
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Workout</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Connect</th>
          <th scope="col">Cancel</th>
        </tr>
      </thead>
      <tbody>
        <% user.upcomingEvents.forEach(event=> { %>

         
        <tr>
          <td scope="row"><%= event.workout %> </th>
          <td><%= event.date %> </td>
          <td><%= event.time %> </td>
          <td> <a href="/events/<%= event._id  %> " class="btn btn-sm btn-secondary">Buddy Chat</a></td>
          <td> <a href="/buddy/<%= event._id %>/remove" class="btn btn-sm btn-primary">Delete Event</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
 
  </body>
</html>
