
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>   
<title>Workout Index</title>
    
</head>

<body>
    <%- include('../partials/header') %>
    <main role="main">
        <section class="jumbotron text-center mb-3">
    <div class="container">
        <h1 class="jumbotron-heading"><b>Workout Index</b></h1>
        <p class="lead text-muted">
            Buddy up for a workout below or create your own for others to join!
        </p>
        <p>
        <a href="/events/new" class="btn btn-success">Create New Workout</a>
        </p>
    </section>
</div>

<div class="album py-5 bg-light">
    
    <div class="container">
       
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% events.forEach(event=> { %>
            <div class="col">
                <div class="card shadow-sm">
                  
                  <img class="card-img-top" src="/stylesheets/images/bopo1.png" >

                  <div class="card-body">
                    <p class="card-text"><a href="/events/<%= event._id %>" class="card-title"><b>
                        <%= event.workout %>
                        </b></a>
                        <div class="">
                            <%= event.location %>
                        </div>
                            <div class="">
                                    <%= event.date %>
                                <div class="">
                                    <%= event.time %>
                                </div>

                            </div>
                    </p>
                    
                  </div>
                </div>
            </div>
            <% }) %>
        </div>
        
    </div>
 
</div>


</main>
</body>

</html>