
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>   
<title>Workout Index</title>
    
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1 class="mb-4">Workouts</h1>
        <a href="/events/new" class="btn btn-success">Create New Event</a>

        <% events.forEach(event=> { %>
            <div class="card mt-4">
                <div class="card-body">
                    <a href="/events/<%= event._id %>" class="card-title">
                        <%= event.workout %>
                    </a>


                    <div class="">
                        <%= event.date %>
                            <div class="">
                                <%= event.time %>
                            </div>
                    </div>
                </div>
            </div>           

         <% }) %>
    </div>
    
</body>

</html>