<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Workout Event</title>
  </head>
  <body>
   <a href="/events">Go Back</a>
      
    
    </div>
    
  <h3>
      <%= event.workout  %> 
  </h3>
    <ul>
        <li>
            <%= event.location %> 
        </li>
        <li>
            <%= event.address %> 
        </li>
        <li>
            <%= event.date %> 
        </li>
        <li>
            <%= event.time %> 
        </li>
    </ul>
    <div>
        <p>
            <%= event.description %> 
        </p>
    </div>
    <!-- this button needs to populate data into user profile -->
        <button>BUDDY UP!</button> 
</div>
<div>
    <textarea name="comments">Comment:</textarea>
    <button>Post</button>

</html>